@import './mixins.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  font-weight: 400;
  @include fontStyle(16px, 26px);
  background-color: $bg-color;
}

h1 {
  @include fontStyle(40px, 40px);
}