// Button colors:
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$bg-button-color: #B4B4B4;

// Text color:
$text-color-white: #fff;
$text-color-black: #000;

// Field color:
$border-color: 1px solid #D0CFCF;