// Background color:
$bg-color: #F8F8F8;

// Button colors:
$primary-color-hover: #FFE302;
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$bg-button-color: #B4B4B4;

// Text color:
$text-color-white: #fff;
$text-color-black: #000;
$text-color-grey: #7E7E7E;

// Field color:
$border-color: 1px solid #D0CFCF;

// Error color:
$er-color: #CB3D40;

// Upload fieal:
$br-upload-color: 1px solid #000000;

