@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;

  &__header {
    padding: 0 20px;

    @include onTablet {
      padding: 0 35px;
    }

    @include onDesktop {
      padding: 0 55px;
    }
  }
}


.header {
  @include top-actions;
  gap: 15px;
  
  height: 60px;

  &__buttons {
    @include top-actions;
    gap: 15px;
  }
}

.button {
  @include buttonStyle;

  @include fontStyle(16px, 26px);
}