@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include onTablet {
    align-items: center;
  }

  &__fieldset {
    position: relative;

    &-name {
      position: absolute;
      top: 0;
      font-size: 12px;
      line-height: 1.5;
      margin: -9px 0 0 -0.5rem;
      margin-left: 20px;
      background: $bg-color;
      padding: 0 1px;

      &:checked {
        display: block;
      }
    }
  }

  &__field {
    width: 100%;
    max-width: 767px;

    &.error {
      border-color: $er-color;
    }

    &:focus {
      outline: none;
    }

    @include onTablet {
      width: 380px
    }

    height: 54px;
    border: $border-color;
    border-radius: 4px;
    padding-left: 10px;
  
    &::placeholder {
      padding-left: 10px;
    }
  
    &:focus::placeholder {
      opacity: 0;
    }
  
    &__example {
      padding-top: 5px;
      padding-left: 10px;
      @include fontStyle (12px, 14px);
      color: #7E7E7E;
    }
  }

  &__error {
    padding-left: 12px;
    color: $er-color;

    &-field {
      border-color: $er-color;
    }
  }
}
