@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container__infoSection {
  margin: auto;
  height: 500px;

  @include onDesktop {
    height: 650px;
  }
  
  background-image: url('../../pictures/BG_image_infoSection.svg');
  background-size: cover; 
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;

  color: $text-color-white;

  &__textInfo {
    font-size: 16px;
  }
}